---
import LinkButton from "~/components/ui/LinkButton.astro";

const classes = {
  title: "text-brand-dark-2 text-3xl trackning-[2%] mt-5 mb-2.5",
  description: "text-lg text-brand-gray-3 font-light",
};
---

<section class="py-20 lg:py-[10rem] bg-brand-green-4">
  <div class="container">
    <div
      class="flex flex-col md:flex-row md:items-center md:justify-between gap-5"
    >
      <div class="xl:max-w-[740px]">
        <h2 class="text-[2.5rem]/[1.2] lg:text-[50px]/[1.2] tracking-[2%]">
          <span class="text-brand-dark-2">Why To</span>
          <span class="text-brand-green-3">Choose Us?</span>
        </h2>
        <p class="text-lg text-brand-gray-3 font-light mt-3">
          Of the profit generated through these trips will be used to help
          locals, which makes us different than most trekking agencies.
        </p>
      </div>

      <LinkButton text="more properties" class="bg-white shrink-0 w-max" />
    </div>

    <div
      class="md:border-y border-brand-gray-5 md:max-xl:divide-y xl:divide-x divide-brand-gray-5 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 *:p-5 *:pl-2 md:*:p-10 md:max-lg:odd:*:pl-0 md:max-lg:even:*:pr-0 lg:*:p-[55px] md:max-xl:even:*:border-l xl:first:*:pl-0 xl:last:*:pr-0 mt-[55px]"
    >
      <div>
        <svg
          class="size-[70px]"
          viewBox="0 0 70 70"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect y="0.000244141" width="70" height="70" rx="35" fill="#73A588"
          ></rect>
          <path
            d="M47 47.0003L41.2094 41.2096M41.2094 41.2096C42.1999 40.2191 42.9856 39.0432 43.5217 37.749C44.0577 36.4548 44.3336 35.0677 44.3336 33.6669C44.3336 32.2661 44.0577 30.8791 43.5217 29.5849C42.9856 28.2907 42.1999 27.1148 41.2094 26.1243C40.2188 25.1338 39.0429 24.348 37.7488 23.812C36.4546 23.2759 35.0675 23 33.6667 23C32.2659 23 30.8788 23.2759 29.5846 23.812C28.2905 24.348 27.1145 25.1338 26.124 26.1243C24.1236 28.1247 22.9998 30.8379 22.9998 33.6669C22.9998 36.496 24.1236 39.2092 26.124 41.2096C28.1245 43.21 30.8376 44.3339 33.6667 44.3339C36.4957 44.3339 39.2089 43.21 41.2094 41.2096Z"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>

        <p class={classes.title}>Easy To Find</p>
        <p class={classes.description}>
          Discover your perfect home effortlessly with our user-friendly search
          tools and extensive property listings.
        </p>
      </div>
      <div>
        <svg
          class="size-[70px]"
          viewBox="0 0 71 70"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="0.333344"
            y="0.000244141"
            width="70"
            height="70"
            rx="35"
            fill="#73A588"></rect>
          <path
            d="M32.984 25.4363C33.5094 25.4361 34.0297 25.5394 34.5151 25.7402C35.0006 25.9411 35.4417 26.2356 35.8133 26.607L44.46 35.255C45.2099 36.0051 45.6311 37.0223 45.6311 38.083C45.6311 39.1437 45.2099 40.1609 44.46 40.911L38.8027 46.5683C38.0526 47.3182 37.0353 47.7395 35.9747 47.7395C34.914 47.7395 33.8968 47.3182 33.1467 46.5683L24.4987 37.9217C24.1273 37.55 23.8328 37.1089 23.6319 36.6234C23.431 36.138 23.3278 35.6177 23.328 35.0923V28.7697C23.328 27.8856 23.6792 27.0378 24.3043 26.4126C24.9294 25.7875 25.7773 25.4363 26.6613 25.4363H32.984ZM32.984 28.103H26.6613C26.4845 28.103 26.315 28.1732 26.1899 28.2983C26.0649 28.4233 25.9947 28.5928 25.9947 28.7697V35.0923C25.9944 35.4457 26.1344 35.7848 26.384 36.035L35.032 44.683C35.282 44.933 35.6211 45.0734 35.9747 45.0734C36.3282 45.0734 36.6673 44.933 36.9173 44.683L42.5747 39.0257C42.8246 38.7756 42.9651 38.4365 42.9651 38.083C42.9651 37.7294 42.8246 37.3904 42.5747 37.1403L33.9267 28.4937C33.6767 28.2436 33.3376 28.1031 32.984 28.103ZM29.3747 31.483C29.7499 31.108 30.2587 30.8974 30.7891 30.8975C31.0518 30.8976 31.3119 30.9494 31.5545 31.0499C31.7972 31.1505 32.0176 31.2979 32.2033 31.4837C32.389 31.6694 32.5363 31.89 32.6368 32.1327C32.7372 32.3754 32.7889 32.6355 32.7888 32.8981C32.7888 33.1608 32.737 33.4209 32.6364 33.6635C32.5358 33.9062 32.3884 34.1266 32.2027 34.3123C31.8275 34.6873 31.3187 34.898 30.7882 34.8978C30.2577 34.8977 29.749 34.6869 29.374 34.3117C28.999 33.9365 28.7884 33.4277 28.7885 32.8972C28.7886 32.6345 28.8404 32.3744 28.9409 32.1318C29.0415 31.8891 29.1889 31.6687 29.3747 31.483ZM34.8693 21.667C35.3947 21.6668 35.915 21.77 36.4005 21.9709C36.8859 22.1717 37.3271 22.4663 37.6987 22.8377L47.288 32.4283C47.5309 32.6798 47.6653 33.0166 47.6622 33.3662C47.6592 33.7158 47.519 34.0502 47.2718 34.2974C47.0246 34.5446 46.6901 34.6849 46.3405 34.6879C45.9909 34.6909 45.6541 34.5565 45.4027 34.3137L35.8133 24.7203C35.5624 24.4714 35.2228 24.3323 34.8693 24.3337H28.6667C28.313 24.3337 27.9739 24.1932 27.7239 23.9431C27.4738 23.6931 27.3333 23.3539 27.3333 23.0003C27.3333 22.6467 27.4738 22.3076 27.7239 22.0575C27.9739 21.8075 28.313 21.667 28.6667 21.667H34.8693Z"
            fill="white"></path>
        </svg>

        <p class={classes.title}>Affordable Prices</p>
        <p class={classes.description}>
          Explore a wide range of properties that fit your budget without
          compromising on quality or location.
        </p>
      </div>
      <div>
        <svg
          class="size-[70px]"
          viewBox="0 0 71 70"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="0.666687"
            y="0.000244141"
            width="70"
            height="70"
            rx="35"
            fill="#73A588"></rect>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M46.6667 35.0002C46.6667 37.9176 45.5078 40.7155 43.4449 42.7784C41.382 44.8413 38.5841 46.0002 35.6667 46.0002C32.7493 46.0002 29.9514 44.8413 27.8885 42.7784C25.8256 40.7155 24.6667 37.9176 24.6667 35.0002C24.6667 32.0829 25.8256 29.285 27.8885 27.2221C29.9514 25.1592 32.7493 24.0002 35.6667 24.0002C38.5841 24.0002 41.382 25.1592 43.4449 27.2221C45.5078 29.285 46.6667 32.0829 46.6667 35.0002ZM49.6667 35.0002C49.6667 38.7133 48.1917 42.2742 45.5662 44.8997C42.9407 47.5252 39.3797 49.0002 35.6667 49.0002C31.9537 49.0002 28.3927 47.5252 25.7672 44.8997C23.1417 42.2742 21.6667 38.7133 21.6667 35.0002C21.6667 31.2872 23.1417 27.7263 25.7672 25.1007C28.3927 22.4752 31.9537 21.0002 35.6667 21.0002C39.3797 21.0002 42.9407 22.4752 45.5662 25.1007C48.1917 27.7263 49.6667 31.2872 49.6667 35.0002ZM37.1667 28.0002C37.1667 27.6024 37.0087 27.2209 36.7273 26.9396C36.446 26.6583 36.0645 26.5002 35.6667 26.5002C35.2689 26.5002 34.8873 26.6583 34.606 26.9396C34.3247 27.2209 34.1667 27.6024 34.1667 28.0002V35.0002C34.1667 35.2331 34.2209 35.4628 34.325 35.6711C34.4292 35.8793 34.5804 36.0605 34.7667 36.2002L38.7667 39.2002C38.9243 39.3184 39.1036 39.4044 39.2944 39.4533C39.4852 39.5022 39.6838 39.513 39.8788 39.4852C40.0738 39.4573 40.2614 39.3913 40.4309 39.291C40.6004 39.1906 40.7485 39.0578 40.8667 38.9002C40.9849 38.7427 41.0709 38.5633 41.1198 38.3725C41.1686 38.1817 41.1795 37.9831 41.1516 37.7881C41.1238 37.5931 41.0578 37.4055 40.9574 37.236C40.857 37.0665 40.7243 36.9184 40.5667 36.8002L37.1667 34.2502V28.0002Z"
            fill="white"></path>
        </svg>

        <p class={classes.title}>Quickly Process</p>
        <p class={classes.description}>
          Experience a seamless and efficient home buying or selling process
          with our dedicated team guiding you every step of the way.
        </p>
      </div>
      <div>
        <svg
          class="size-[70px]"
          viewBox="0 0 70 70"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect y="0.000244141" width="70" height="70" rx="35" fill="#73A588"
          ></rect>
          <path
            d="M38.1467 37.9737C37.2554 38.6923 36.1449 39.0842 35 39.0842C33.8551 39.0842 32.7446 38.6923 31.8533 37.9737C31.581 37.7473 31.23 37.6385 30.8774 37.671C30.5249 37.7035 30.1996 37.8747 29.9733 38.147C29.747 38.4193 29.6381 38.7703 29.6706 39.1229C29.7031 39.4755 29.8744 39.8007 30.1467 40.027C31.5084 41.1638 33.2261 41.7865 35 41.7865C36.7739 41.7865 38.4915 41.1638 39.8533 40.027C40.1256 39.8007 40.2969 39.4755 40.3294 39.1229C40.3619 38.7703 40.253 38.4193 40.0267 38.147C39.9146 38.0122 39.7771 37.9007 39.622 37.8191C39.4668 37.7374 39.2971 37.6871 39.1226 37.671C38.77 37.6385 38.419 37.7473 38.1467 37.9737ZM31 33.667C31.2637 33.667 31.5215 33.5888 31.7408 33.4423C31.96 33.2958 32.1309 33.0875 32.2318 32.8439C32.3328 32.6003 32.3592 32.3322 32.3077 32.0735C32.2563 31.8149 32.1293 31.5773 31.9428 31.3908C31.7563 31.2044 31.5188 31.0774 31.2601 31.0259C31.0015 30.9745 30.7334 31.0009 30.4898 31.1018C30.2461 31.2027 30.0379 31.3736 29.8914 31.5929C29.7449 31.8122 29.6667 32.07 29.6667 32.3337C29.6667 32.6873 29.8071 33.0264 30.0572 33.2765C30.3072 33.5265 30.6464 33.667 31 33.667ZM39 31.0003C38.7363 31.0003 38.4785 31.0785 38.2592 31.225C38.04 31.3715 37.8691 31.5798 37.7682 31.8234C37.6672 32.067 37.6408 32.3351 37.6923 32.5938C37.7437 32.8524 37.8707 33.09 38.0572 33.2765C38.2437 33.4629 38.4812 33.5899 38.7399 33.6414C38.9985 33.6928 39.2666 33.6664 39.5102 33.5655C39.7539 33.4646 39.9621 33.2937 40.1086 33.0744C40.2551 32.8552 40.3333 32.5974 40.3333 32.3337C40.3333 31.98 40.1929 31.6409 39.9428 31.3908C39.6928 31.1408 39.3536 31.0003 39 31.0003ZM35 21.667C32.3629 21.667 29.785 22.449 27.5924 23.9141C25.3997 25.3791 23.6908 27.4615 22.6816 29.8979C21.6724 32.3342 21.4084 35.0151 21.9229 37.6015C22.4373 40.1879 23.7072 42.5637 25.5719 44.4284C27.4366 46.2931 29.8124 47.563 32.3988 48.0775C34.9852 48.5919 37.6661 48.3279 40.1024 47.3187C42.5388 46.3096 44.6212 44.6006 46.0863 42.4079C47.5513 40.2153 48.3333 37.6374 48.3333 35.0003C48.3333 33.2494 47.9885 31.5156 47.3184 29.8979C46.6483 28.2802 45.6662 26.8103 44.4281 25.5722C43.19 24.3341 41.7201 23.352 40.1024 22.6819C38.4848 22.0119 36.751 21.667 35 21.667ZM35 45.667C32.8903 45.667 30.828 45.0414 29.0739 43.8693C27.3198 42.6973 25.9526 41.0314 25.1453 39.0823C24.3379 37.1332 24.1267 34.9885 24.5383 32.9194C24.9499 30.8502 25.9658 28.9496 27.4575 27.4579C28.9493 25.9661 30.8499 24.9502 32.919 24.5386C34.9882 24.127 37.1329 24.3383 39.082 25.1456C41.031 25.9529 42.6969 27.3201 43.869 29.0742C45.0411 30.8284 45.6667 32.8907 45.6667 35.0003C45.6667 37.8293 44.5429 40.5424 42.5425 42.5428C40.5421 44.5432 37.829 45.667 35 45.667Z"
            fill="white"></path>
        </svg>

        <p class={classes.title}>Happy customers</p>
        <p class={classes.description}>
          Join our community of satisfied clients who have found their dream
          homes and enjoyed exceptional service with us.
        </p>
      </div>
    </div>
  </div>
</section>
